.videoFooter-text{
    position: absolute;
    color:white;
    bottom: 0;
    display:flex;
    margin-bottom:20px;
}
.videoFooter-text > h3{
    margin-left: 12px;
    padding-bottom: 20px;
}
.videoFooter-text > h3 > button{
    color: white;
    font-weight: 900;
    text-transform: inherit;
}