@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-snap-type:y mandatory;
}
body,
#root {
  height: 100%;
}
.app-logo{
  height:12vh;
}
.app{
  display:grid;
  place-items:center;
  background-color:black; 
}
.app-top > h1{
  text-align:center;
  color:black;
  margin-bottom:1px;
}
.app-videos{
  height:85vh;
  width:100%;
  border-radius:20px;
  overflow:scroll;
  background-color: black;
  scroll-snap-type:y mandatory;
   
}


.app-videos::-webkit-scrollbar{
  display:none;
}
.app-videos{
  -ms-overflow-style:none;
  scrollbar-width:none
}