@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-snap-type:y mandatory;
}

body,
#root {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.app-logo{
  height:5vh;
}
.app{
  display:grid;
  place-items:center; 
}
h1{
  font-family: 'Lobster', cursive;
}
 
.app-videos{
  height:85vh;
  width:100%;
  border-radius:20px;
  overflow:scroll;
  background-color: black;
  scroll-snap-type:y mandatory;
   
}


.app-videos::-webkit-scrollbar{
  display:none;
}
.app-videos{
  -ms-overflow-style:none;
  scrollbar-width:none
}